In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/RESAF/Downloads/Data Science/Automobile_data.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [4]:
df.replace('?', np.nan, inplace = True)

In [5]:
columns_to_convert = ['normalized-losses', 'bore', 'stroke','horsepower','peak-rpm','price']

df[columns_to_convert] = df[columns_to_convert].astype(float)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [7]:
df.shape

(205, 26)

In [8]:
df = df.dropna()

In [10]:
df.shape

(159, 26)

In [11]:
df.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,0.735849,121.132075,98.264151,172.413836,65.607547,53.899371,2461.138365,119.226415,3.300126,3.236352,10.161132,95.836478,5113.836478,26.522013,32.081761,11445.729560
std,1.193086,35.651285,5.167416,11.523177,1.947883,2.268761,481.941321,30.460791,0.267336,0.294888,3.889475,30.718583,465.754864,6.097142,6.459189,5877.856195
min,-2.000000,65.000000,86.600000,141.100000,60.300000,49.400000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,15.000000,18.000000,5118.000000
25%,0.000000,94.000000,94.500000,165.650000,64.000000,52.250000,2065.500000,97.000000,3.050000,3.105000,8.700000,69.000000,4800.000000,23.000000,28.000000,7372.000000
50%,1.000000,113.000000,96.900000,172.400000,65.400000,54.100000,2340.000000,110.000000,3.270000,3.270000,9.000000,88.000000,5200.000000,26.000000,32.000000,9233.000000
75%,2.000000,148.000000,100.800000,177.800000,66.500000,55.500000,2809.500000,135.000000,3.560000,3.410000,9.400000,114.000000,5500.000000,31.000000,37.000000,14719.500000
max,3.000000,256.000000,115.600000,202.600000,71.700000,59.800000,4066.000000,258.000000,3.940000,4.170000,23.000000,200.000000,6600.000000,49.000000,54.000000,35056.000000

In [12]:
df.describe(include = 'object')

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
count,159,159,159,159,159,159,159,159,159,159
unique,18,2,2,2,5,3,1,5,5,6
top,toyota,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,31,144,132,95,79,105,159,123,136,64

In [13]:
df = df.drop(columns = ['engine-location','make'])

In [14]:
df['num-of-cylinders'].unique()

array(['four', 'five', 'six', 'three', 'eight'], dtype=object)

In [15]:
df['num-of-doors'].unique()

array(['four', 'two'], dtype=object)

In [16]:
df['num-of-cylinders'].replace({'four':4, 'five':5, 'six':6, 'three':3, 'eight':8},inplace = True)
df['num-of-doors'].replace({'two':2 , 'four':4},inplace = True)

In [17]:
dummies = []
for column in df:
    if df[column].dtype == 'object':
        dummies.append(column)
dummies

['fuel-type',
 'aspiration',
 'body-style',
 'drive-wheels',
 'engine-type',
 'fuel-system']

In [18]:
df1 = pd.get_dummies(data=df, columns = dummies)
df1.columns

Index(['symboling', 'normalized-losses', 'num-of-doors', 'wheel-base',
       'length', 'width', 'height', 'curb-weight', 'num-of-cylinders',
       'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price', 'fuel-type_diesel',
       'fuel-type_gas', 'aspiration_std', 'aspiration_turbo',
       'body-style_convertible', 'body-style_hardtop', 'body-style_hatchback',
       'body-style_sedan', 'body-style_wagon', 'drive-wheels_4wd',
       'drive-wheels_fwd', 'drive-wheels_rwd', 'engine-type_dohc',
       'engine-type_l', 'engine-type_ohc', 'engine-type_ohcf',
       'engine-type_ohcv', 'fuel-system_1bbl', 'fuel-system_2bbl',
       'fuel-system_idi', 'fuel-system_mfi', 'fuel-system_mpfi',
       'fuel-system_spdi'],
      dtype='object')

In [19]:
df1.head()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_l,engine-type_ohc,engine-type_ohcf,engine-type_ohcv,fuel-system_1bbl,fuel-system_2bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi
3,2,164.0,4,99.8,176.6,66.2,54.3,2337,4,109,...,0,1,0,0,0,0,0,0,1,0
4,2,164.0,4,99.4,176.6,66.4,54.3,2824,5,136,...,0,1,0,0,0,0,0,0,1,0
6,1,158.0,4,105.8,192.7,71.4,55.7,2844,5,136,...,0,1,0,0,0,0,0,0,1,0
8,1,158.0,4,105.8,192.7,71.4,55.9,3086,5,131,...,0,1,0,0,0,0,0,0,1,0
10,2,192.0,2,101.2,176.8,64.8,54.3,2395,4,108,...,0,1,0,0,0,0,0,0,1,0

In [20]:
cols_to_scale = ['symboling', 'normalized-losses', 'num-of-doors', 'wheel-base',
       'length', 'width', 'height', 'curb-weight', 'num-of-cylinders',
       'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])
df1.sample(10)

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_l,engine-type_ohc,engine-type_ohcf,engine-type_ohcv,fuel-system_1bbl,fuel-system_2bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi
62,0.4,0.261780,1.0,0.420690,0.596748,0.543860,0.586538,0.357642,0.2,0.309645,...,0,1,0,0,0,1,0,0,0,0
163,0.6,0.539267,0.0,0.272414,0.448780,0.324561,0.307692,0.264158,0.2,0.187817,...,0,1,0,0,0,1,0,0,0,0
116,0.4,0.502618,1.0,0.734483,0.741463,0.710526,0.701923,0.684251,0.2,0.461929,...,1,0,0,0,0,0,1,0,0,0
148,0.4,0.104712,1.0,0.355172,0.528455,0.447368,0.528846,0.361521,0.2,0.238579,...,0,0,1,0,0,1,0,0,0,0
155,0.4,0.136126,1.0,0.313793,0.465041,0.289474,0.932692,0.629170,0.2,0.157360,...,0,1,0,0,0,1,0,0,0,0
150,0.6,0.115183,0.0,0.313793,0.286179,0.289474,0.490385,0.192785,0.2,0.157360,...,0,1,0,0,0,1,0,0,0,0
159,0.4,0.136126,1.0,0.313793,0.409756,0.359649,0.326923,0.305275,0.2,0.248731,...,0,1,0,0,0,0,1,0,0,0
141,0.4,0.193717,1.0,0.365517,0.502439,0.447368,0.298077,0.254849,0.2,0.238579,...,0,0,1,0,0,1,0,0,0,0
25,0.6,0.434555,1.0,0.244828,0.263415,0.307018,0.115385,0.194337,0.2,0.147208,...,0,1,0,0,0,1,0,0,0,0
95,0.6,0.329843,0.0,0.272414,0.398374,0.307018,0.375000,0.209465,0.2,0.182741,...,0,1,0,0,0,1,0,0,0,0

In [21]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [22]:
x = df1.drop('price', axis=1)
y = df1['price']

In [35]:
x = x.rename(columns=lambda x: x.replace('-', '_'))

# Updated column names
print(x.columns)

Index(['symboling', 'normalized_losses', 'num_of_doors', 'wheel_base',
       'length', 'width', 'height', 'curb_weight', 'num_of_cylinders',
       'engine_size', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'fuel_type_diesel',
       'fuel_type_gas', 'aspiration_std', 'aspiration_turbo',
       'body_style_convertible', 'body_style_hardtop', 'body_style_hatchback',
       'body_style_sedan', 'body_style_wagon', 'drive_wheels_4wd',
       'drive_wheels_fwd', 'drive_wheels_rwd', 'engine_type_dohc',
       'engine_type_l', 'engine_type_ohc', 'engine_type_ohcf',
       'engine_type_ohcv', 'fuel_system_1bbl', 'fuel_system_2bbl',
       'fuel_system_idi', 'fuel_system_mfi', 'fuel_system_mpfi',
       'fuel_system_spdi'],
      dtype='object')

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [37]:
x_train.shape

(127, 40)

In [38]:
x_test.shape

(32, 40)

In [39]:
models = [
    ('Linear Regression', LinearRegression(), {}),
    ('Decision Tree', DecisionTreeRegressor(), {'max_depth': [None, 5, 10]}),
    ('Random Forest', RandomForestRegressor(), {'n_estimators': [100,200,300]})
]

In [40]:
best_model = None
best_score = float('-inf')

In [41]:
for model_name, model, param_grid in models:
    grid_search = GridSearchCV(model, param_grid, cv=5)
    grid_search.fit(x_train, y_train)
    score = grid_search.best_score_
    if score > best_score:
        best_model = grid_search.best_estimator_
        best_score = score
    print(f'{model_name} Best score:', score)
    print(f'{model_name} Best parameters:', grid_search.best_params_)
    print()

Linear Regression Best score: 0.5620121161853476
Linear Regression Best parameters: {}

Decision Tree Best score: 0.7564616276598306
Decision Tree Best parameters: {'max_depth': 10}

Random Forest Best score: 0.8141893771618418
Random Forest Best parameters: {'n_estimators': 300}

In [42]:
final_model = RandomForestRegressor(n_estimators = 300)

In [44]:
final_model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=300)

In [45]:
y_pred = final_model.predict(x_test)

In [46]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Mean Squared Error (MSE): 0.0034889220148924607
R-squared (R2): 0.9039462251159961

In [47]:
import joblib
joblib.dump(final_model, 'C:/Users/RESAF/Downloads/Data Science/Projects/Car price predictor/car_price.pkl')

['C:/Users/RESAF/Downloads/Data Science/Projects/Car price predictor/car_price.pkl']

In [48]:
df1.head()

,symboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_l,engine-type_ohc,engine-type_ohcf,engine-type_ohcv,fuel-system_1bbl,fuel-system_2bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi
3,0.8,0.518325,1.0,0.455172,0.577236,0.517544,0.471154,0.329325,0.2,0.243655,...,0,1,0,0,0,0,0,0,1,0
4,0.8,0.518325,1.0,0.441379,0.577236,0.535088,0.471154,0.518231,0.4,0.380711,...,0,1,0,0,0,0,0,0,1,0
6,0.6,0.486911,1.0,0.662069,0.839024,0.973684,0.605769,0.525989,0.4,0.380711,...,0,1,0,0,0,0,0,0,1,0
8,0.6,0.486911,1.0,0.662069,0.839024,0.973684,0.625000,0.619860,0.4,0.355330,...,0,1,0,0,0,0,0,0,1,0
10,0.8,0.664921,0.0,0.503448,0.580488,0.394737,0.471154,0.351823,0.2,0.238579,...,0,1,0,0,0,0,0,0,1,0